@model CascadingDropDown.Models.Data
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div>
        <form asp-action="Create" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select asp-for="Country" id="countryDropdown" class="form-control">
                <option value="">Select Country</option>
                @foreach (var country in ViewBag.Countries)
                {
                    <option value="@country.Value">@country.Text</option>
                }
            </select>
            <br />
            <select asp-for="State" id="stateDropdown" class="form-control">
                <option value="">Select State</option>
            </select>
            <br />
            <select asp-for="City" id="cityDropdown" class="form-control">
                <option value="">Select City</option>
            </select>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
   
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#countryDropdown").change(function () {
            var countryId = $(this).val();
            $.ajax({
                url: '/Cascading/GetStates',
                type: 'GET',
                data: { countryId: countryId },
                success: function (data) {
                    $("#stateDropdown").empty();
                    $("#stateDropdown").append('<option value="">Select State</option>');
                    $.each(data, function (i, state) {
                        $("#stateDropdown").append('<option value="' + state.StateId + '">' + state.StateName + '</option>');
                    });
                }
            });
        });

        $("#stateDropdown").change(function () {
            var stateId = $(this).val();
            $.ajax({
                url: '/Cascading/GetCities',
                type: 'GET',
                data: { stateId: stateId },
                success: function (data) {
                    $("#cityDropdown").empty();
                    $("#cityDropdown").append('<option value="">Select City</option>');
                    $.each(data, function (i, city) {
                        $("#cityDropdown").append('<option value="' + city.CityId + '">' + city.CityName + '</option>');
                    });
                }
            });
        });
    });
</script>
